gris_oscuro = #444
naranja = #DD4F24

@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a 
	color naranja	
body
	background #E8E8E8
	font-family Arial
	font-size 16px
label
	display inline-block
	width 60px
	background naranja
	padding 0.1em
	text-align center
footer
	background naranja
	color rgba(white,0.5)
	padding 1em 0
	text-align center
	width 100%

	h3
		font-size 14px
		font-weight normal

		strong 
			display block
		.mejor
			&:before
			&:after
				content "-"

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	overflow hidden
	padding 0.5em
	position relative
	z-index 2
	h1
		font-family: 'Autour One', cursive;
	.logo
		width 120px
		float left
		border-right 1px solid naranja
		
		img
			height 80px
			width 80px

		
		

	.iniciosesion
		text-shadow 1px 1px 0px black
		
		.redes
			margin-top 60px
			margin-left 120px

			a
				text-decoration none
				color white
				padding 0.1em 
			.twitter
				&:after
					content "\e602"
					font-family iconos
			.facebook
				&:after
					content "\e603"
					font-family iconos
			.gplus
				&:after
					content "\e604"
					font-family iconos
			.mail
				&:after
					content "\e607"
					font-family iconos				

			
				
				

		.titulo
			margin 0 180px 0 70px
			font-size 20px
			font-weight normal
			margin 0
			padding 0

		.registro
			float right
			right 10px
			top -15px

			.usuario
				padding 0.2em
				input 
					font-size 14px
			.clave
				padding 0.2em
				input 
					font-size 14px

			.iniciar
				padding 0.2em
				a
					color white
					text-decoration none
					background naranja
					padding 0.1em

				.ingresar
					margin-right 12.5px
					box-shadow 1px 1px 0px black
					&:before
						content "\e605"
						font-family iconos

						
				.registrarse
					box-shadow 1px 1px 0px black
		.bienvenida
			display none
			float right
			.bienvenido
				float left
				margin-top 0px
			.usuario
				float right
				
				
		
nav
	background naranja
	border-left 15px solid white
	position relative
	&:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		left 0px
		position absolute
		top 0
		

	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		overflow-y hidden
		white-space nowrap

		&::-webkit-scrollbar
			display none




		li
			display inline-block

		a
			
			color white
			display block
			margin 0 0.5em
			padding 0 0.2em
			text-decoration none
			
			
			&:hover
				background rgba(black,0.1)


	

.menu_semana
	height 120px
	border 5px
	box-shadow 1px 1px 1px 1px black
	background gris_oscuro
	margin-top 50px
	white-space nowrap
	overflow-x auto
	border-left 10px inset naranja
	border-right 10px inset naranja
	border-top 10px inset naranja
	border-bottom 10px inset naranja
	&::-webkit-scrollbar
			display none

	.platosms
		display inline-block
		padding 1em
		position relative
		

		.platoms
			text-align center
			position relative
			&:after
				content "\e608"
				font-family iconos
				color white
				background naranja
				position absolute
				border-radius 10%
				top 20px
				width 25px
				
			img
				height 50px
				width 50px
				border-radius 50%
				

				&:hover
					height 60px
					width 60px
		.nom_plato
			background naranja
			color white
			text-decoration none
			text-align center
			padding 0.2em
			
		
		
		.icono_agregar
			background naranja	
			color white
			padding 2px
			top 20px
			position absolute
			text-align right 
			text-decoration none
			width 30px
			height 15px
			z-index 5
			&:after
				content "\e600"
				font-family iconos

.imagencentral
	

	.platoimg
		text-align center
		margin-top 10px

		img
			border-top 10px ridge gris_oscuro
			border-bottom 10px ridge gris_oscuro
			border-left 10px ridge gris_oscuro
			border-right  10px ridge gris_oscuro
			border-radius 10%
			width 70%
	
.seleccionarplato
	

			
	.descripcion
		background gris_oscuro
		box-shadow 1px 1px 1px 1px black
		color white
		border-left 10px inset naranja
		border-right 10px inset naranja
		border-top 10px inset naranja
		border-bottom 10px inset naranja
		position relative	

		.titulosp
			background naranja
			text-align center
			color white
		.tituloingredientes
			text-align center
			font-size 16px
			background naranja
			color white
			padding 0.5em
			position absolute
			left -24px
			&:before
				content ''
				border-left 10px solid transparent
				border-bottom 20px solid transparent
				border-top 10px solid rgba(black,0.8)
				position absolute
				top 34px
				width 2.5px
				left 0px
		.ingredientes
			margin-top 70px
		.titulo_precio
			background naranja
			text-align center
			font-size 16px
			padding 0.5em
			position absolute
			left -24px
			&:before
				content ''
				border-left 10px solid transparent
				border-bottom 20px solid transparent
				border-top 10px solid rgba(black,0.8)
				position absolute
				top 34px
				width 2.5px
				left 0px
		.precio
			position relative
			top 45px
			left 40px
			
	

	.ordenar
		margin-top 10px
		margin-bottom 30px
		position relative
		padding 0.5em
		

		.anadir	
			background naranja 
			color white
			position absolute
			text-decoration none
			padding 0.3em
			left 150px
			bottom 8px
			&:before
				content "\e608"
				font-family iconos


		input
			width 50px


.pedido
	text-align center
	padding 1.5em
	background gris_oscuro
	color white
	margin-bottom 70px
	box-shadow 1px 1px 1px 1px black
	position relative

	.aviso_pedido
		background naranja
		width 200px
		position absolute
		padding 0.5em
		bottom 180px
		left 30%
		box-shadow 0px -1px 0 0 black
		&:before
			border-left 25px solid gris_oscuro
			border-bottom 10px solid gris_oscuro
			border-top 20px solid transparent
			content ""
			position absolute
			left 0px
			top 20px
		&:after
			border-right 25px solid gris_oscuro
			border-bottom 10px solid gris_oscuro
			border-top 20px solid transparent
			content ""
			position absolute
			left 89%
			top 17px
		
		
	.plato
		padding 0.5em

		a
			background naranja
			color white
			text-decoration none
			padding 0.1em
			&:after
				content "\e601"
				font-family iconos
				margin-left 10px
	.total
		padding 0.2em
	.realizarpedido
		background naranja
		color white
		text-decoration none
		margin-top -10px
		padding 0.2em
		&:after
			content "\e606"
			font-family iconos
			margin-left 10px
		&:hover
			font-size 18px

		


@media screen and (min-width: 768px)
	

	footer
		position relative
		top 400px
	header
		.iniciosesion
			.registro
				margin-top -25px
			.redes
				margin-top 40px	
	
	.imagencentral
		width 40%
		height 40%
		position relative
		left 400px
		display block
		.platoimg
			
			position absolute
			width 100%
			top -45px
			img
				margin 0 auto
				width 80%

			
	.seleccionarplato
		
		
		.descripcion
			box-shadow -1px -1px 1px 1px black
			float right
			width 300px
			height 350px
			position relative
		.ordenar
			float right
			left 130px
			top 350px
			
			.anadir
				
				padding 0.2em
				width 80px
	
	.menu_semana
		float left
		width  300px
		height 350px
		margin-top -10px
		overflow-y scroll 
		.platosms
			display block
			position relative
			.platoms
				margin-left 150px

			.nom_plato
				position absolute
				top 30px

	
	.pedido
		position relative
		margin-top 80px
		top 380px
		padding 3em
		
			
		



