gris_oscuro = #444
naranja = #DD4F24
a 
	color naranja	
body
	background #E8E8E8
	font-family Arial
	font-size 16px
label
	display inline-block
	width 60px
	background naranja
	padding 0.1em
	text-align center

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white
	overflow hidden
	padding 0.5em
	position relative
	z-index 2
	
	.logo
		width 120px
		float left
		border-right 1px solid naranja
		
		img
			height 80px
			width 80px

		
		

	.iniciosesion
		text-shadow 1px 1px 0px black
		
		.titulo
			margin 0 180px 0 70px
			font-size 20px
			font-weight normal
			margin 0
			padding 0

		.registro
			float right
			right 10px
			top -15px
			.usuario
				padding 0.2em
				input 
					font-size 14px
			.clave
				padding 0.2em
				input 
					font-size 14px

			.iniciar
				padding 0.2em

				a
					color white
					text-decoration none
					background naranja
					padding 0.1em

				.ingresar
					margin-right 12.5px
					box-shadow 1px 1px 0px black
				.registrarse
					box-shadow 1px 1px 0px black
		.bienvenida
			display none
			float right
			.bienvenido
				float left
				margin-top 0px
			.usuario
				float right
				
				
		
nav
	background naranja
	border-left 15px solid white
	position relative
	&:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		left 0px
		position absolute
		top 0
		

	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		overflow-y hidden
		white-space nowrap

		&::-webkit-scrollbar
			display none




		li
			display inline-block

		a
			
			color white
			display block
			margin 0 0.5em
			padding 0 0.2em
			text-decoration none
			
			
			&:hover
				background rgba(black,0.1)


	

.menu_semana
	height 120px
	border 5px
	background gris_oscuro
	margin-top 50px
	white-space nowrap
	overflow-x auto
	.platosms
		display inline-block
		padding 0.5em

		.platoms
			
			img
				height 50px
				width 50px
				border-radius 50%
		.nom_plato
			background naranja
			color white
			text-decoration none
			padding 0.2em
			&:hover
				background rgba(black,0.1)
				


	

	

		



