a{color:#dd4f24}
body{background:#e8e8e8;font-family:Arial;font-size:16px}
label{display:inline-block;width:60px;background:#dd4f24;padding:.1em;text-align:center}
header{background:#444;box-shadow:0 5px 0 rgba(0,0,0,0.2);color:#fff;overflow:hidden;padding:.5em;position:relative;z-index:2;}
header .logo{width:120px;float:left;border-right:1px solid #dd4f24;}
header .logo img{height:80px;width:80px}
header .iniciosesion{text-shadow:1px 1px 0 #000;}
header .iniciosesion .titulo{margin:0 180px 0 70px;font-size:20px;font-weight:normal;margin:0;padding:0}
header .iniciosesion .registro{float:right;right:10px;top:-15px;}
header .iniciosesion .registro .usuario{padding:.2em;}
header .iniciosesion .registro .usuario input{font-size:14px}
header .iniciosesion .registro .clave{padding:.2em;}
header .iniciosesion .registro .clave input{font-size:14px}
header .iniciosesion .registro .iniciar{padding:.2em;}
header .iniciosesion .registro .iniciar a{color:#fff;text-decoration:none;background:#dd4f24;padding:.1em}
header .iniciosesion .registro .iniciar .ingresar{margin-right:12.5px;box-shadow:1px 1px 0 #000}
header .iniciosesion .registro .iniciar .registrarse{box-shadow:1px 1px 0 #000}
header .iniciosesion .bienvenida{display:none;float:right;}
header .iniciosesion .bienvenida .bienvenido{float:left;margin-top:0}
header .iniciosesion .bienvenida .usuario{float:right}
nav{background:#dd4f24;border-left:15px solid #fff;position:relative;}
nav:before{border-bottom:20px solid transparent;border-left:7px solid #fff;border-top:20px solid transparent;content:"";left:0;position:absolute;top:0}
nav .menu{height:40px;line-height:40px;margin:0;padding:0;overflow-x:auto;overflow-y:hidden;white-space:nowrap;}
nav .menu::-webkit-scrollbar{display:none}
nav .menu li{display:inline-block}
nav .menu a{color:#fff;display:block;margin:0 .5em;padding:0 .2em;text-decoration:none;}
nav .menu a:hover{background:rgba(0,0,0,0.1)}
.menu_semana{height:120px;border:5px;background:#444;margin-top:50px;white-space:nowrap;overflow-x:auto;}
.menu_semana .platosms{display:inline-block;padding:.5em;}
.menu_semana .platosms .platoms img{height:50px;width:50px;border-radius:50%}
.menu_semana .platosms .nom_plato{background:#dd4f24;color:#fff;text-decoration:none;padding:.2em;}
.menu_semana .platosms .nom_plato:hover{background:rgba(0,0,0,0.1)}
